{% extends 'base.html.twig' %}

{% block title %}Food index{% endblock %}

{% block body %}

    <style>

        a:hover {
            background: cornflowerblue;

        }

        a:active {

            color: #666666;

        }
        body{
            background-color:#DBF9FC;
        }
    </style>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="{{ path('app_home') }}" class="navbar-brand">Restaurant</a>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="{{ path('app_category_index') }}" class="nav-item nav-link active">Category List</a>
                    <a href="{{ path('app_chef_index') }}" class="nav-item nav-link active">Chef List</a>
                    <a href="{{ path ('app_food_index') }}" class="nav-item nav-link active" >Food List</a>
                </div>
            </div>
            <form class="d-flex" >
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <button type="button" class="btn btn-secondary"><ion-icon name="search-outline"></ion-icon></button>
                </div>
            </form>
            <div class="navbar-nav">
                <a href="{{ path ('app_login') }}" class="nav-item nav-link" ><ion-icon name="log-in-outline"></ion-icon>Logout</a>
            </div>
        </div>
        </div>
    </nav>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Food Name</th>
            <th>Price Food</th>
            <th>Chef Name</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for food in food %}
            <tr>
                <td>{{ food.id }}</td>
                <td>{{ food.name }}</td>
                <td>{{ food.price }}$</td>
                <td>{{ food.chefID ? food.chefID.name : '' }}</td>
                <td>{{ food.category ? food.category.name : '' }}</td>
                <td>
                    <a class="btn btn-success"href="{{ path('app_food_show', {'id': food.id}) }}">Show</a>
                    <a class="btn btn-warning" href="{{ path('app_food_edit', {'id': food.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('app_food_new') }}">Create new</a>
    <a  class="btn btn-primary" href="{{ path('app_home') }}">Go home</a>
{% endblock %}
