{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('chef_list') }}" class="btn btn-default">Back to Todo List</a>
    <hr/>
    <h2 class="page-header">{{ chefs.name }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Name: {{ chefs.name }}</li>
        <li class="list-group-item">Gender: {{ chefs.gender }}</li>
        <li class="list-group-item">Salary: <strong>{{ chefs.salary }}</strong></li>
    </ul>

{% endblock %}
