{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
<div class="form-group row">
    <label for="name">Name:</label>
    {{ form_widget(form.name,{
        'attr':{
            'class':'form-control',
            'placeholder': 'Chef name'
        }
    }) }}
    <div class="invalid-feedback">
        {{ form_errors(form.name) }}
    </div>
</div>
<div class="form-group row">
    <label for="priority">Gender:</label>
    {{ form_widget(form.gender,{
        'attr':{
            'class':'form-control'
        }
    }) }}
</div>
<div class="form-group row">
    <label for="description">Salary:</label>
    {{ form_widget(form.salary,{
        'attr':{
            'class':'form-control',
            'placeholder': 'Enter the salary'
        }
    }) }}
</div>
    <input type="submit" name="edit_chef" value="Edit" class="btn btn-primary"/>
    {{ form_end(form) }}

    {% endblock %}
