{% extends 'base.html.twig' %}

{% block body %}
    <div class="bs-example" data-example-id="striped-table">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID </th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {% for chef in chefs %}
                <tr>
                    <th scope="row">{{ chef.id }}</th>
                    <td>{{ chef.Name }}</td>
                    <td>
                        <a href="{{ path('chef_details', {'id': chef.id}) }} " class='btn btn-success'>View</a>
                       {# <a href="{{ path('chef_edit', {'id': chef.id}) }}" class='btn btn-default'>Edit</a>
                        <a href="{{ path('chef_delete', {'id': chef.id}) }}" class='btn btn-danger'>Delete</a>#}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

