{% extends 'base.html.twig' %}

{% block body %}

    <style>

        a:hover {
            background: cornflowerblue;

        }

        a:active {

            color: #666666;

        }
    </style>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="{{ path('app_home') }}" class="navbar-brand">Restaurant</a>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="{{ path('app_category_index') }}" class="nav-item nav-link active">Category List</a>
                    <a href="{{ path('app_chef_index') }}" class="nav-item nav-link active">Chef List</a>
                    <a href="{{ path ('app_food_index') }}" class="nav-item nav-link active" >Food List</a>
                </div>
            </div>
            <form class="d-flex" >
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <button type="button" class="btn btn-secondary"><ion-icon name="search-outline"></ion-icon></button>
                </div>
            </form>
            <div class="navbar-nav">
                <a href="{{ path ('app_login') }}" class="nav-item nav-link" ><ion-icon name="log-in-outline"></ion-icon>Logout</a>
            </div>
        </div>
        </div>
    </nav>

<a href="{{ path('app_chef_new') }}">
    <button style="background-color: #5eb5e0;
  margin: 10px 0 12px 5px;
  color: white;
  padding: 12px 16px;
  font-size: 12px;
  cursor: pointer;" class="btn"><i class="fa fa-plus"></i> Add A Chef</button>
</a>
    <table style="margin: 0 20px 0 20px " class="table table-bordered table-sm">
        <thead>
        <tr>
            <th style="color: #10397e; font-style: oblique">ID</th>
            <th style="color: #10397e">Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for chef in chefs %}
            <tr>
                <th scope="row">{{ chef.id }}</th>
                <td>{{ chef.Name }}</td>
                <td>
                    <a href="{{ path('app_chef_show',{'id':chef.id}) }}"  class="btn btn-info">View</a>
                    <a href="{{ path('app_chef_edit', {'id': chef.id}) }}" class='btn btn-default'>Edit</a>
                    <a href="{{ path('app_chef_delete', {'id': chef.id}) }}" class='btn btn-danger'>Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}